@model ATU.Web.Domain.Model.BreadcrumbItem


<div class="@Model.CssClass @Model.CssClassColour">
    <span class="breadcrumb-label"><i class="@Model.IconName"></i> @Model.Text</span>
    <span class="breadcrumb-arrow"><span></span></span>
</div>