@model ATU.Web.Domain.Model.ViewBase

<div class="area-top clearfix">
    <div class="pull-left header">
        <h3 class="title">
            <i class="@Model.Icon"></i>
            @Model.Title
        </h3>
        <h5><span>@Model.SubTitle</span></h5>
    </div>
</div>