@model List<string>

    <thead>
        <tr>
            <th>
                <div>Rendering engine</div>
            </th>
            <th>
                <div>Browser</div>
            </th>
            <th>
                <div>Platform(s)</div>
            </th>
        </tr>
    </thead>